Django==6.0.7
django-cors-headers==4.9.0
python-dotenv==1.2.2
psycopg2-binary==2.9.12

PyJWT==2.10.1

chromadb==1.5.9
google-generativeai==0.8.6
sentence-transformers==5.6.0
transformers==5.14.1
torch==2.13.0

requests
numpy
pandas
scikit-learn
joblib

uvicorn